.user-input {
    height: 100%;
    width: 0%;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
}

.user-input.active {
    width: 100%;
}

.user-input p, h2 {
    text-align: justify;
    overflow-wrap: break-word;
    padding: 0.1rem;
}

.btn {
    border: none;
    height: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #232323;
    color: honeydew;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:active {
    opacity: 0.9;
    transform: scale(0.9);
}

.user-input input, select, option{
    margin: 0.7rem 0;
    border-radius: 2rem;
    padding: 0.3rem;
    border: none;
}

.user-input input:focus, button:focus{
    outline: none;
}
